Welcome to the chicken app!

- if user_signed_in?
  %h2 Your flocks
  %ul.flocks
    - flocks.each do |flock|
      %li
        = link_to flock.name, flock
        .actions
          = link_to 'Edit', edit_flock_path(flock)
          = link_to 'Feed', new_flock_feeding_path(flock)
          = link_to 'Collect Eggs', new_flock_collection_path(flock)
  = link_to 'Add a flock', new_flock_path
