- data_types ||= nil
= form_tag :action => :create do
  - if data_types
    .field
      = label_tag 'data_type', data_type_label
      %select{name: 'data_type_id'}
        %option
        - data_types.each do |dt|
          %option{value: dt.to_param}= dt
  .field
    = label_tag :frequency
    %select{class: 'js-frequency'}
      %option{value: 'daily'} Daily
      %option{value: 'weekly'} Weekly
  .data-point-entry
  .field
    = submit_tag
